.aws-sld {
  &__content {
    .ui.basic.label {
      font-famil: 'Roboto', sans-serif;
    }
    .aws-sld__controls {
      button {

      }
    }
    p {
      text-align: center;
      color: white;
      text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
      font-family: 'Roboto', sans-serif;
      &.title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
        span {
          border-bottom: 2px solid transparent;
          &:hover {
            border-bottom: 4px solid white;
            cursor: pointer;
          }
        }
      }
      &.description {
        font-size: 1.2rem;
        // background: rgba(0,0,0,0.3);
        padding: 5px;
        border-radius: 2px;
      }
      transform: translate3d(0, 0, 0);
      opacity: 1;
      transition: transform 0.45s cubic-bezier(0.15, 0.3, 0.15, 1), opacity 0.35s ease-out;
    }
    p:nth-child(2) {
      transition-delay: 0.05s, 0.05s;
    }
    &--exit {
      p {
        transition: transform 0.225s cubic-bezier(0.85, 0, 0.85, 0.7), opacity 0.4s ease-out;
      }
      p:nth-child(2) {
        transition-delay: 0.05s, 0.05s;
      }
    }
    &--moveLeft {
      p {
        transform: translate3d(-50px, 0, 0);
        opacity: 0;
      }
    }
    &--moveRight {
      p {
        transform: translate3d(50px, 0, 0);
        opacity: 0;
      }
    }
  }
}
